body {
      font-family: 'Arial', sans-serif;
      background-color: #161a29;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
    }

    .container {
      max-width: 750px;
      background-color: #0b2943;
      padding: 80px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .title {
      font-size: 2.5rem;
      color: #7c3f3e;
      margin-bottom: 20px;
    }

    .weather-icon {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }

    .current-weather {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }

    .location {
      font-size: 1.5rem;
      color: #6b7280;
      margin-bottom: 10px;
    }

    .temperature {
      font-size: 3rem;
      color: #050932;
      margin-bottom: 10px;
    }

    .description {
      font-size: 1.2rem;
      color: #6b7280;
      margin-bottom: 20px;
    }

    .details {
      display: flex;
      justify-content: space-around;
      margin-bottom: 30px;
    }

    .detail-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .detail-label {
      font-size: 1rem;
      color: #6b7280;
      margin-bottom: 5px;
    }

    .detail-value {
      font-size: 1.2rem;
      color: #050932;
    }

    .forecast-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .forecast-item {
      background-color: #f9fafb;
      border: 1px solid #e2e8f0;
      border-radius: 5px;
      padding: 15px;
      margin: 10px;
      width: 150px;
      text-align: center;
    }

    .forecast-date {
      font-size: 1rem;
      color: #6b7280;
      margin-bottom: 5px;
    }

    .forecast-icon {
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
    }

    .forecast-temp {
      font-size: 1.2rem;
      color: #050932;
      margin-bottom: 5px;
    }

    .forecast-description {
      font-size: 0.9rem;
      color: #6b7280;
    }

    .footer {
      background-color: #050932;
      color: #ffffff;
      text-align: center;
      padding: 5px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }